.App {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.header {
  text-align: center;
}

.columns {
  display: flex;
  justify-content: center;
}

.columns > * {
  margin: 1em;
  flex-basis: 400px;
}

.result {
  width: 100%;
  margin-top: 2em;
}
.result img {
  width: 400px;
}

.notes {
  margin-top: 2em;
}
.note {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 0px 10px;
  margin: 5px 0;
}
